div#header {background:#53C241;}
div#topmenu ul li {background:#3AA347;}
div#topmenu ul li:hover {background:#2C8934;}
div#topmenu ul li.selected {background:#2C8934;}
div#topmenu ul li a {color:#FFF;}
div#topmenu ul li a:hover {color:#FFF;}