.bx-wrapper .bx-viewport {-webkit-box-shadow:none !important; box-shadow:none !important; left:0 !important; border:none !important; z-index:1 !important;}
.bx-wrapper .bx-viewport ul {padding:0;}
.bx-wrapper .bx-controls-direction a {z-index:98 !important;}