div#header {background:#993333;}
div#topmenu ul li {background:#C34343;}
div#topmenu ul li:hover {background:#EC5151;}
div#topmenu ul li.selected {background:#EC5151;}
div#topmenu ul li.selected a {color:#FFF;}
div#topmenu ul li a {color:#FFF;}
div#topmenu ul li a:hover {color:#FFF;}