div#header {background:#FFB800;}
div#topmenu ul li {background:#DDA000;}
div#topmenu ul li:hover {background:#B58300;}
div#topmenu ul li.selected {background:#B58300;}
div#topmenu ul li.selected a {color:#FFF;}
div#topmenu ul li a {color:#FFF;}
div#topmenu ul li a:hover {color:#FFF;}